<!-- Users table -->
<div class="users">
    <h1>Users</h1>
    <table class="ui celled unstackable table">
        <thead>
            <tr>
                <th class="ifMobile">Id</th>
                <th>Username</th>
                <th class="ifMobile">First Name</th>
                <th class="ifMobile">Last Name</th>
                <th>Email</th>
                <th class="ifMobile">Ads</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <% @users.each do |user| %>
            <tr>
                <td class="ifMobile"><%= user.id %></td>
                <td><%= user.username %></td>
                <td class="ifMobile"><%= user.first_name %></td>
                <td class="ifMobile"><%= user.last_name %></td>
                <td><%= user.email %></td>
                <td class="ifMobile"><%= user.products.count %></td>
                <td><%= link_to 'Edit', edit_user_path(user) %></td>
                <td><%= link_to 'Delete', user, method: :delete, data: {confirm: "Are you sure? This will delete the user and all its listings permanantly."}  %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>
<!-- End Of Users Table -->