 <!-- list loop -->
 <% @conversations.each do |conversation| %>
 <!-- check if inside conversation, return active class -->
 <% if @conversation.present? && @conversation.id == conversation.id %>
    <% css_class = "active" %>
 <% elsif conversation.is_unread? current_user%>
    <% css_class = "unread" %>
 <% end %>

<div class="message-item <%= css_class %>">
    <a href="<%= conversation_path(conversation) %>" data-remote="true">
        <% user =  from(conversation, current_user) %>
        <div class="image">
            <%= image_tag(user_avatar(user: user, size: '48'), class: 'avatar') %>
        </div>
        <div class="content">
            <div class="name">
                <%= user.name %> 
            </div>
            <div class="subject">
                <%= conversation.subject %>
            </div>
        </div>
        <div class="date"><%= sent_at(conversation) %></div>
    </a>
</div>
<% end %>
<!-- end list loop -->