
<div class="inbox-messages">
    <% @conversation.receipts_for(current_user).order(created_at: :asc).each do |receipt| %>
        <!-- message container -->
        <div class="message <%= my_message_class(receipt) %>">
            <!-- message body -->
            <span><%= receipt.message.body %></span>
        </div>
    <% end %>
</div>


<div class="message-input">
    <!-- add remote true later for ajax-->
    <%= form_tag conversation_messages_path(@conversation), method: :post, remote: true  do %>
        <%= text_field_tag :body, '', class: 'field' %>
        <span class="textarea" role="textbox" contenteditable></span></p>
        <div class="buttons">
            <i id="attach" class="far fa-paperclip"></i>
            <%= submit_tag "Send", class: 'button' %>
        </div>
        
    <% end %>
</div>
