<!-- Find me in  views/notifications/items/ -->
<li class='li-title'> <a href="#">Notifications</a></li>

<% if current_user.present? %>
    <!-- Each user Notifications in DESCENDING order. Can use 'ASC' -->
    <!-- Add where.not type message -->
    <% user_notifications.each do |n| %>
        <li class="border-top <%= 'unread' if n.unread? %>" data-notification-id="<%=n.id%>" data-remote="true">
            <% case n.type %>
            <% when "BidNotification" %>
                <a href="<%= n.to_notification.url%>">
                    <!-- NOTIFICATION FOR BIDS --------------------------- -->
                    <% user = User.find n.to_notification.user.id %>
                    <% product = Product.find(n.to_notification.params[:product]) %>
                    <%= image_tag(large(product.images.last), class: 'ui avatar image') %>
                    <div class="notification content">
                        <div class="description">
                            <!-- link to where the listing -->
                            <%= n.to_notification.message %>
                            <div class='notification time'>
                                <%= time_ago_in_words(n.created_at) %> ago
                            </div>
                        </div>
                    </div>
                </a>
                    <!-- END NOTIFICATION FOR BIDS ----------------------- -->
            <% else %>
                <a href="<%= n.to_notification.url%>">
                    <!--  ALL OTHER NOTIFICATION ------------------------- -->
                    <!-- variables -->
                    <% user = User.find n.to_notification.user.id %>
                    <% name = user.first_name.capitalize %>
                    <!-- image link-->
                    <%= image_tag(user_avatar(user: user, size: '25'), class: 'ui avatar image') %>
                    <div class="notification content">
                        <!-- name link -->
                        <span><%= name %></span>
                        <div class="description">
                            <!-- message -->
                            <%= n.to_notification.message %>
                            <!-- link to where the action came from -->
                            <span> <%=n.to_notification.type%></span>
                            <div class='notification time'>
                                <%= time_ago_in_words(n.created_at) %> ago
                            </div>
                        </div>
                    </div>
                </a>    
                    <!--  END ALL OTHER NOTIFICATION ---------------------- -->
            <% end %>
            
        </li>
    <% end %>
<% end %><!-- end if -->