
<!-- <% if @product.images.count > 0 %>
    <% @product.images.each do |image| %>
        <%= image_tag tiny(image) %>
        <%= link_to 'Remove', delete_image_attachment_product_url(image.id), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
<% end %> -->


<%= form_with(model: product, local: true,  class: 'ui form segment', id: 'prod-form') do |form| %>
    <h1>Listing Details</h1>
    <!-- Errors -->
    <% if product.errors.any? %>
        <div id="error_explanation" class="ui error message" style="display: block;">
        <div class="header"><%= pluralize(product.errors.count, "error") %> keeping this listing from being saved:</div>

        <ul class="list">
        <% product.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
        </ul>
        </div>
    <% end %>
<!-- End erros -->
    <div class="field">
        <%= form.label :title %>
        <%= form.text_field :title %>
    </div>
    <div class="field">
        <%= form.label :price %>
        <div id='price-imput'>
            <span>$</span><%= form.text_field :price, onkeypress: 'return (event.charCode !=8 && event.charCode ==0 || ( event.charCode == 46 || (event.charCode >= 48 && event.charCode <= 57)))'%>
        </div>
    </div>
    <div class="field">
        <label>Photos</label>
        <div class="photos">
            <div class="container">
                <%= form.label :images %>
                <%= form.file_field :images, multiple: true %>
            </div>
        </div>
    </div>
    <div class="field">
        <label>Category</label>
        <div class="ui fluid selection dropdown multiple search" tabindex="0">
        <input type="hidden" name="product[category_ids][]" id="cat-imput"
        value="<% product.categories.each do |c| %><%= ',' + c.id.to_s %><% end %>">
            <i class="dropdown icon"></i>
            <% product.categories.each do |populated| %>
                <a class="ui label transition visible" data-value="<%= populated.id %>" style="display: inline-block !important;"><%= populated.name %><i class="delete icon"></i></a>
            <% end %>
            <div class="default text">Category</div>
            <div class="menu transition hidden" tabindex="-1">
                <% @categories.each do |category| %>
                    <option class="item <%= "active filtered" if product.categories.include?(category)%>" data-value="<%= category.id%>" >
                        <%= category.name %>
                    </option>
                <% end %>
            </div>
        </div>
       
    </div>
    <div class="field">
        <%= form.label :description %>
        <%= form.text_area :description %>
    </div>
    <div id="contact-info" class="field">
        <label style="margin-top: 2%;">Contact Info</label>
        <div class="contact-info"><%= current_user.first_name %> <%= current_user.last_name %></div>
        <div class="contact-info"><%= current_user.phone %></div>
        <div class="contact-info"><%= current_user.email %></div>
        <div style="margin-bottom: 2%;" class="contact-info"><%= "#{current_user.city}, #{current_user.state}, #{current_user.zipcode}"  %></div>
    </div>   
    <div class="inline field">
        <div class="ui checkbox">
        <input name="terms" type="checkbox">
        <label>I agree to the terms and conditions</label>
    </div>
    </div>
    <%= form.submit 'Create Listing', class: 'ui floated primary submit button'%>
<% end %>