<div id="learnMoreContainer2">
  <div id="learnMore2" class="ui center aligned very padded yellow inverted segment">
      <div class="ui large header">
          Reach More Buyers Today.
      </div>
      <p>With our sponsored ads, sellers are more likely to reach their sale faster.</p>
      <div class="ui blue button">Learn More</div>
  </div>
</div>
<h2 class="ui grey header">Most Recent...</h2>
<div class="container">
  <div id="ads" class="ui link cards"></div>
</div>

<div class="container">
  <div id="ads" class="ui link cards">

    <!-- cards -->
    <% @products.each do |product| %>

      <div class="ui card">
            <%= link_to image_tag(card(product.images.first)), product, class: 'image'  %>
          <div class="content">
              <div class="ui header"><%= product.title %>
                  <div class="sub header"><%= number_to_currency(product.price, :precision => 2) %></div>
              </div>
              <div class="meta">
                  <span><%= time_ago_in_words(product.created_at) %> ago  |</span>
                  <% product.categories.each do |categorie| %> 
                      <%= link_to categorie.name, categorie %>
                  <% end %>
              </div>
          </div>
          <div class="extra content">
              <span class="left floated eye">
                  <i class="eye icon"></i>
                  <%= product.views %>
              </span>
              <span class="right floated clipboard list">
                  <i class="clipboard list icon"></i>
                  Watch List
              </span>
          </div>
      </div>
    <% end %>
      
  </div>
</div>
