<!-- 
        Product model calls:

        @product.current_bid_price  -  Last highest bid in a decimal string - "100.00"
                .bid_price_plus(i)  - The current bid plus 'i' in a decimal string (1) - "101.00"
                .heighest_bidder    - Returns object
                .time_remaining     - String "Time left: 10d 10h 10m 10s"
                .closes_at          - String "Ends 10/10 at 10:10AM"
                .auction_is_active? - True or false

        Database fields:
            string    .title
            float     .price
            string    .location
            string    .Condition
            text      .description
            bigint    .user_id
            datetime  .created_at
            datetime  .updated_at
            integer   .views
            boolean   .is_auction
            decimal   .auction_starting_price
            string    .auction_duration
            boolean   .is_sale
            decimal   .sale_price
            string    .shipment_type
            decimal   .shipment_fee
            boolean   .active

    -->     

 
<div class="infoContainer">

    <div id="learnMoreContainerDetail">
        <div id="learnMoreDetail" class="ui center aligned yellow inverted segment">
            <div id="adDetailHeader" class="ui large header">
                Reach More Buyers Today.
            </div>
            <p class="sponsoredAdDesc">With our sponsored ads, sellers are more likely to reach their sale faster.</p>
            <div class="ui blue button">Learn More</div>
        </div>
    </div>

    <div class="adContainer">
            <div id="adDetail" class="ui link cards">
            <div id="detailCard" class="ui card">
                <div class="content">
                    <div id="detailMainHeader" class="ui header"><%= @product.title %>
                        <div class="meta">
                            <span>Sold by <%= link_to "#{@product.user.username}" , @product.user %> </span>
                        </div>
                        <div class="meta">
                            <span><%= time_ago_in_words(@product.created_at) %> ago |</span>
                            <% @product.categories.each do |categorie| %> 
                                <%= link_to categorie.name, categorie %>
                            <% end %>                           
                        </div>
                        <div class="header"><%= number_to_currency(@product.price, :precision => 2) %></div>
                        <div class="extra content">
                            <i class="eye icon"></i>
                            <span><%= @product.views %></span>
                            <i class="clipboard list icon"></i>
                            <span id="favorites-size"><%= @product.favorites.size %></span>
                        </div>
                        
                        <% if @product.user == current_user%>
                            <%= link_to 'Delete', @product, method: :delete, class: 'mini ui right floated red button', data: { confirm: 'Are you sure?' } %>
                            <%= link_to 'Edit', edit_product_path(@product), class: 'mini ui right floated blue button' %>
                        <% else %>
                            <%= link_to  "Contact Seller", new_conversation_path(user_id: @product.user.id), {id: 'contactSeller', class: 'mini ui right floated blue button'}%>
                            <span id="favorite_span_<%= @product.id%>" class="mini ui right floated clipboard list <%= saved_class(@product) %>">
                                <%= link_to "<i class='clipboard list icon'></i> ".html_safe + favorite_text(@product), favorites_update_path(product: @product), id: "favorite_link_#{@product.id}", remote: true %>
                            </span>
                        <% end %>
                        
                    </div>
                </div>
                <%= image_tag large(@product.images.last) %>
                <div class="content">
                    <div id="contentHeader" class="ui header">
                    Description:
                    </div>
                    <p><%= @product.description %></p>
                </div>
            </div></div>
            <a style="margin: 2%;" href="<%= products_path %>">
                <i class="reply icon"></i>
                Back to Listings...
            </a>
        </div>
        <!-- place bid option -->
        <% if @product.is_auction %>
            <div id="auction">
                <h3>Place a Bid</h3>
                <p>Current price: <span id="current-price">$<%= @product.current_bid_price %></span></p>
                <p>Time left: <%= @product.time_remaining%></p>
                <p><%= @product.closes_at%></p>
                <!-- show form if user is not the owner or the highest bidder -->
                <% if current_user != @product.user && current_user != @product.heighest_bidder %> 
                    <%= form_with(model: @bid, id: 'bid-form' )do |form| %>
                        <%= form.hidden_field :product_id, value: @product.id %>
                        <%= form.text_field :bid_price, value: @product.bid_price_plus(1)  %>
                        <%= form.submit 'Place bid' %>
                    <% end %>
                <% elsif current_user == @product.heighest_bidder && current_user != @product.user%>  
                    <p> You are the highest bidder </p>
                <% else %>
                    <p> Your listing has <%= @product.bids.size %> bids</p>
                <% end %>  

            </div>
        <%end%>
        <!-- end of place bid option -->

    <div id="adsContainer">
        <div id="recentAds" class="ui center aligned black segment">
            <h4 class="ui grey header">Most Recent...</h4>
            <div id="adSidebar">
                <% @latest.each do |product| %>
                <div id="sidebarCard" onclick="viewAd(1)" class="ui card">
                    <a class="image" href=" <%= product.id %>">
                        <%= image_tag card(product.images.last) %>
                    </a>
                    <div id="sidebarAd" class="content">
                        <div id="recentAdsHeader" class="ui header"><%= product.title %></div>
                        <div style="font-size: 12px;" class="header"><%= number_to_currency(product.price, :precision => 2) %></div>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
    </div>

</div>