<!-- 
        Product model calls:

        @product.current_bid_price  -  Last highest bid in a decimal string - "100.00"
                .bid_price_plus(i)  - The current bid plus 'i' in a decimal string (1) - "101.00"
                .highest_bidder    - Returns object
                .time_remaining     - String "Time left: 10d 10h 10m 10s"
                # bring this format to application.js in this format "Jan 5, 2022 15:37:25"
                .closes_at          - String "Ends 10/10 at 10:10AM"
                .auction_is_active? - True or false

        Database fields:
            string    .title
            float     .price
            string    .location
            string    .Condition
            text      .description
            bigint    .user_id
            datetime  .created_at
            datetime  .updated_at
            integer   .views
            boolean   .is_auction
            decimal   .auction_starting_price
            string    .auction_duration
            boolean   .is_sale
            decimal   .sale_price
            string    .shipment_type
            decimal   .shipment_fee
            boolean   .active

    -->     

 
<div class="infoContainer">

    <div id="learnMoreContainerDetail">
        <div id="learnMoreDetail" class="ui center aligned yellow inverted segment">
            <div id="adDetailHeader" class="ui large header">
                Reach More Buyers Today.
            </div>
            <p class="sponsoredAdDesc">With our sponsored ads, sellers are more likely to reach their sale faster.</p>
            <div class="ui blue button">Learn More</div>
        </div>
    </div>

    <div class="adContainer" >
        <div id="adDetail" class="ui link cards">
            <!-- Place a bid -->
            <% if @product.is_auction && @product.auction_is_active? %>
            <!-- ACTIVE AUCTION -->
                <div id="auction" class="ui card">
                    <h3 style="margin-left: 38%">Place a Bid</h3>
                    <div style="display: flex; justify-content: space-between">
                        <div style="margin: 5px">
                            <p>Time left: <%= @product.time_remaining %></p>
                            <p><%= @product.closes_at%></p>
                            <p> Listing has <span class="bids-size" data-product-id="<%= @product.id %>"><%= @product.bids.size %></span> bids</p>
                        </div>
                        <div style="margin: 5px">
                            <p>Current price: <span class="product-price" data-product-id="<%= @product.id %>">$<%= @product.current_bid_price %></span></p>
                            <!-- show form products/_form-bid if not the highest bidder -->
                            <div class="display-bid-form" data-product-id="<%= @product.id %>" style="<%='display: none;' if current_user == @product.highest_bidder %>">
                                <%= render 'form-bid' %>
                            </div>
                            <p class="highest-bidder" data-product-id="<%= @product.id %>" style="<%='display: none;' unless current_user == @product.highest_bidder %>"><%="You are the highest bidder"%></p>
                        </div>
                    </div>
                </div>
            <!-- END ACTIVE AUCTION -->
            <% elsif @product.is_auction && !@product.auction_is_active? %>
            <!-- CLOSED AUCTION-->
                <div id="auction">
                    <h3>Auction is closed</h3>
                    <p>Sold for: <span class="product-price" data-product-id="<%= @product.id %>">$<%= @product.current_bid_price %></span></p>
                </div>
            <!-- END CLOSED AUCTION-->
            <% else %>
                
            <% end %>
                <!-- end of Place a bid -->
            <div id="detailCard" class="ui card">
                <div class="content">
                    <div id="detailMainHeader" class="ui header"><%= @product.title %>
                        <div class="meta">
                            <span>Sold by <%= link_to "#{@product.user.username}" , @product.user %> </span>
                        </div>
                        <div class="meta">
                            <span><%= time_ago_in_words(@product.created_at) %> ago |</span>
                            <% @product.categories.each do |categorie| %> 
                                <%= link_to categorie.name, categorie %>
                            <% end %>                           
                        </div>
                        <div class="header"><%= number_to_currency(@product.price, :precision => 2) %></div>
                        <div class="extra content">
                            <i class="eye icon"></i>
                            <span><%= @product.views %></span>
                            <i class="clipboard list icon"></i>
                            <span id="favorites-size"><%= @product.favorites.size %></span>
                        </div>
                        
                        <% if @product.user == current_user%>
                            <%= link_to 'Delete', @product, method: :delete, class: 'mini ui right floated red button', data: { confirm: 'Are you sure?' } %>
                            <%= link_to 'Edit', edit_product_path(@product), class: 'mini ui right floated blue button' %>
                        <% else %>
                            <%= link_to  "Contact Seller", new_conversation_path(user_id: @product.user.id), {id: 'contactSeller', class: 'mini ui right floated blue button'}%>
                            <span id="favorite_span_<%= @product.id%>" class="mini ui right floated clipboard list <%= saved_class(@product) %>">
                                <%= link_to "<i class='clipboard list icon'></i> ".html_safe + favorite_text(@product), favorites_update_path(product: @product), id: "favorite_link_#{@product.id}", remote: true %>
                            </span>
                        <% end %>
                        
                    </div>
                </div>
                <%= image_tag large(@product.images.last) %>
                <div class="content">
                    <div id="contentHeader" class="ui header">
                    Description:
                    </div>
                    <p><%= @product.description %></p>
                </div>
            </div>
        </div>
        <a style="margin: 2%;" href="<%= products_path %>">
            <i class="reply icon"></i>
            Back to Listings...
        </a>
    </div>
    
    <!-- Side ads -->
    <div id="adsContainer">
        <div id="recentAds" class="ui center aligned black segment">
            <h4 class="ui grey header">Most Recent...</h4>
            <div id="adSidebar">
                <% @latest.each do |product| %>
                <div id="sidebarCard" onclick="viewAd(1)" class="ui card">
                    <a class="image" href=" <%= product.id %>">
                        <%= image_tag card(product.images.last) %>
                    </a>
                    <div id="sidebarAd" class="content">
                        <div id="recentAdsHeader" class="ui header"><%= product.title %></div>
                        <!-- If the product is an auction it will show bid price -->
                        <div style="font-size: 12px;">
                            <% if product.is_auction %>
                                $<span  class="product-price" data-product-id="<%= product.id %>"><%= product.current_bid_price %></span>
                            <% else %>
                                <%= number_to_currency(product.price, :precision => 2) %>
                            <% end %>
                        </div>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</div>