<!DOCTYPE html>
<html>
  <head>
    <title>Cashfreightclassifieds</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
 
  </head>

  <body>
    <!-- track user -->
    <% if current_user.present? %>
      <div style="display: none;" id="data-user-id" data-user-id="<%=current_user.id%>"></div>
    <% end %>
    
    <!-- Header -->
    <header class="main header">
      <div class="top-nav">
        <ul class="float-left">
          <li><a href="">Help</a></li>
          <li><a href="">How to Buy</a></li>
          <li><a href="">How to Sell</a></li>
        </ul>
        <div class="float-right">
            <!-- Messages Notifications -->
            <%= render partial: 'notifications/message_notifications' %>
            <!-- Notifications -->
            <%= render partial: 'notifications/notifications' %>
            <!-- cart -->
            <%= render partial: 'notifications/cart_notifications' %>
            
        </div>
      </div>

      <div class="main-nav">
        <div class="logo-content">
          <a href="<%= root_path %>" class="logo">
            <%= image_tag asset_path('logo_white.png')%>
          </a>
        </div>
        <div class="search">
          <form action="">
            <div class="ui action input">
              <input type="text" placeholder="Search...">
              <select class="ui compact selection dropdown">
                <option value="all">All</option>
                <option selected="" value="All Categories">All Categories</option>
                <option value="products">Truck</option>
              </select>
              <div class="ui button">Search</div>
            </div>
          </form>
        </div>
        <ul>
          <% if current_user.present? %>
            <li><a href="">Create Listing</a></li>
            <li><a href="">Watchlist</a></li>
            <li><a href="">My Account</a></li>
          <% else %>
            <li><a href="<%= new_user_registration_path %>" class="ui inverted button sign-up">Sign UP</a></li>
            <li><a href="<%= new_user_session_path %>" class="ui primary button sign-in">Sign In</a></li>
          <% end %>
        </ul>
      </div>

      <div class="bottom-nav">
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">Auction</a></li>
          <li><a href="">Buy it Now</a></li>
          <li><a href="">Deals</a></li>
          <li><a href="">Categories</a></li>
        </ul>
      </div>
    </header>

    <div id="header" class="ui blue inverted segment" style="visibility: hidden; display: none;">
      <div class="logo">
          <%= image_tag asset_path('cashfreightlogo.png')%>
          <a class="website" href="<%= root_path%>">cashfreight.com</a>
      </div>
      <form action="/" accept-charset="UTF-8" method="get" id="search" class="ui fluid left icon input">
        <i class="search link icon"></i>
          <input name="utf8" type="hidden" value="✓">
          <input type="text" name="query" id="query" placeholder="Search...">
          <input type="submit" value="Search" data-disable-with="Search"  style="display: none;">
      </form>
  </div>
  <!-- end Header -->

  <% unless notice.nil? %>
    <div class="ui positive message" style="max-width: 500px; margin: 20px auto; ">
      <p id="notice"><%= notice %></p>
    </div>
  <%end%>
  <% unless alert.nil? %>
    <div class="ui warning message" style="max-width: 500px; margin: 20px auto; ">
      <p id="alert"><%= alert %></p>
    </div>
  <%end%>


    <%= yield %>

    <div id="bg-load-message">
      <div id="load-message" class="ui icon message">
        <i class="notched circle loading icon"></i>
        <div class="content">
          <div class="header">
            Just one momment
          </div>
          <p>We're fetching that content for you.</p>
        </div>
      </div>
    </div>
  </body>
</html>