<!DOCTYPE html>
<html>
  <head>
    <title>Cashfreightclassifieds</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
 
  </head>

  <body>
    <!-- track user -->
    <% if current_user.present? %>
      <div data-user-id="<%=current_user.id%>"></div>
    <% end %>
    
    <!-- Header -->
    <div id="header" class="ui blue inverted segment">
      <div class="logo">
          <%= image_tag asset_path('cashfreightlogo.png')%>
          <a class="website" href="<%= root_path%>">cashfreight.com</a>
      </div>
      <form action="/" accept-charset="UTF-8" method="get" id="search" class="ui fluid left icon input">
        <i class="search link icon"></i>
          <input name="utf8" type="hidden" value="✓">
          <input type="text" name="query" id="query" placeholder="Search...">
          <input type="submit" value="Search" data-disable-with="Search"  style="display: none;">
      </form>
      <div class="icons">
          <div class="linkIcon">
              <a href="/conversations"> <i class="envelope icon"></i></a>
          </div>
          <div class="linkIcon">
              <i class="bell icon"></i>
          </div>
          
          <div id="menu" class="ui inverted icon top right pointing dropdown button">
            <i class="bars icon"></i>
            <!-- render partial  _menu.html.erb -->
            <%= render partial: 'layouts/menu' %>
            <!-- end render -->
          </div>
      </div>
  </div>
  <!-- end Header -->

  <% unless notice.nil? %>
    <div class="ui positive message" style="max-width: 500px; margin: 20px auto; ">
      <p id="notice"><%= notice %></p>
    </div>
  <%end%>
  <% unless alert.nil? %>
    <div class="ui warning message" style="max-width: 500px; margin: 20px auto; ">
      <p id="alert"><%= alert %></p>
    </div>
  <%end%>


    <%= yield %>

    <div id="bg-load-message">
      <div id="load-message" class="ui icon message">
        <i class="notched circle loading icon"></i>
        <div class="content">
          <div class="header">
            Just one momment
          </div>
          <p>We're fetching that content for you.</p>
        </div>
      </div>
    </div>
  </body>
</html>
