<!DOCTYPE html>
<html>
  <head>
    <title>Cashfreightclassifieds</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
  </head>

  <body>
    <div class="header">
        <div class="admin" onclick="select(this)">
            <span>Admin</span>
        </div>
        <a class="title" href="<%= root_path%>">
            <div>
                <%= image_tag asset_path('cashfreightlogo.png'), class:'logo', alt: 'cashfreightlogo' %>
            </div>
            <div>
                <div>
                    <span class="cashfreight">CashFreight</span>
                </div>
                <div>
                    <span class="classifieds">Classifieds</span>
                </div>
            </div>
        </a>
        <div class="icons">
            <div id="menu" class="ui icon top right pointing dropdown button">
                <i class="bars icon"></i>
                <!-- render partial  _menu.html.erb -->
                <%= render partial: 'layouts/menu' %>
                <!-- end render -->
            </div>
        </div>
        </div>
    </div>
            <!-- notifications -->
            <% unless notice.nil? %>
            <div style="margin: 20px;">
                <div class="ui positive message">
                <p id="notice"><%= notice %></p>
                </div>
            </div>
            <%end%>
            <% unless alert.nil? %>
            <div style="margin: 20px;">
                <div class="ui warning message" >
                <p id="alert"><%= alert %></p>
                </div>
            </div>
            <%end%>
        <!-- end notifications -->
    <div class="content">
        <div class="mainMenu">
            <div id="menuIfMobile" class="ui secondary vertical menu">
                <%= link_to 'Users', dashboard_users_path, class: 'item'%>
                <%= link_to 'Categories', dashboard_categories_path, class: 'item'%>
            </div>
        </div>

        <!-- content -->
        <%= yield %>
        <!-- end content -->
        
    </div>
  </body>
</html>
