<!DOCTYPE html>
<html>
  <head>
    <title>Cashfreightclassifieds</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'messages', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'messages', 'data-turbolinks-track': 'reload' %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
  </head>

<body>
    <!-- track user -->
    <% if current_user.present? %>
        <div style="display: none;" data-user-id="<%=current_user.id%>"></div>
    <% end %>
    
    <!-- header -->
    <header class="dashboard header">

        <!-- logo -->
        <a class="title" href="<%= root_path %>">
            <div class="logo header">
                <%= image_tag asset_path('logo_white.png'), class:'logo', alt: 'cashfreightlogo' %>
            </div>
        </a>

        
        <div class="right">
            <!-- icons-->
            <div class="icons light">
                 <!-- Messages Notifications -->
                <%= render partial: 'notifications/message_notifications' %>
                <!-- Notifications -->
                <%= render partial: 'notifications/notifications' %>
                
            </div>

            <!-- menu desktop -->
            <div class="account-menu">
                <div class="user-avatar">
                    <%=  image_tag(user_avatar(user: current_user, size: '25'), class: 'ui avatar image')%>
                </div>
                <nav class="menu">
                    <header>My Account</header>
                    <ul>
                        <%= render partial: 'layouts/menus/dropdown_list' %>
                    </ul>
                </nav>
            </div>
            <!--  menu mobile -->
            <nav class="mobile" id="mobile-menu">
                <header><i class="far fa-bars"></i></header>
                <ul>
                    <%= render partial: 'layouts/menus/dropdown_list' %>
                </ul>
            </nav>

        </div>


        
       

    </header>
            <!-- notifications -->
            <% unless notice.nil? %>
            <div style="margin: 20px;">
                <div class="ui positive message">
                <p id="notice"><%= notice %></p>
                </div>
            </div>
            <%end%>
            <% unless alert.nil? %>
            <div style="margin: 20px;">
                <div class="ui warning message" >
                <p id="alert"><%= alert %></p>
                </div>
            </div>
            <%end%>
        <!-- end notifications -->

        <div class="messageBoxs">
        <div class="messages">
            <div class="messageHeader">Messages</div>
            <!--<select  class="ui fluid dropdown" name="messageSelect" id="messageSelect" >
                <option value="inbox">Inbox</option>
                <option value="outbox">Outbox</option>
                <option value="trash">Trash</option>
            </select>-->
            <div class="messageList">
                <% @conversations.each do |conversation| %>
                <div class="ui cards">
                    <div class="card">
                        <% if from(conversation, current_user).avatar.attached? %>
                            <%= image_tag( tiny(from(conversation, current_user).avatar), class:'userImage inbox', style:'border-radius: 25px!important;') %>
                        <% else %>
                            <%= image_tag asset_path('userImage.png'), class: 'userImage inbox', alt: 'User Avatar'%>
                        <% end %>
                        <a class="messageContent" href="<%= conversation_path(conversation) %>" >
                            <div class="from">From: <%= from(conversation, current_user).name %> </div>
                            <div class="description">Subject: <%= conversation.subject %></div>
                        </a>
                    </div>
                </div>
                <% end %>


            </div>
        </div>
        <div class="messageDisplay">

         <!-- content -->
        <%= yield %>
        <!-- end content -->

        </div>
    </div>
        
    </div>
  </body>
</html>
