<!DOCTYPE html>
<html>
  <head>
    <title>Cashfreightclassifieds</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'messages', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'messages', 'data-turbolinks-track': 'reload' %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
  </head>

<body>
    <!-- track user -->
    <% if current_user.present? %>
        <div style="display: none;" data-user-id="<%=current_user.id%>"></div>
    <% end %>
    
    <!-- header -->
    <header class="dashboard header">

        <!-- logo -->
        <a class="title" href="<%= root_path %>">
            <div class="logo header">
                <%= image_tag asset_path('logo_white.png'), class:'logo', alt: 'cashfreightlogo' %>
            </div>
        </a>

        
        <div class="right">
            <!-- icons-->
            <div class="icons light">
                 <!-- Messages Notifications -->
                <%= render partial: 'notifications/message_notifications' %>
                <!-- Notifications -->
                <%= render partial: 'notifications/notifications' %>
                
            </div>

            <!-- menu desktop -->
            <div class="account-menu">
                <div class="user-avatar">
                    <%=  image_tag(user_avatar(user: current_user, size: '25'), class: 'ui avatar image')%>
                </div>
                <nav class="menu">
                    <header>My Account</header>
                    <ul>
                        <%= render partial: 'layouts/menus/dropdown_list' %>
                    </ul>
                </nav>
            </div>
            <!--  menu mobile -->
            <nav class="mobile" id="mobile-menu">
                <header><i class="far fa-bars"></i></header>
                <ul>
                    <%= render partial: 'layouts/menus/dropdown_list' %>
                </ul>
            </nav>
        </div>
    </header>

            <!-- error notifications -->
            <% unless notice.nil? %>
            <div style="margin: 20px;">
                <div class="ui positive message">
                <p id="notice"><%= notice %></p>
                </div>
            </div>
            <%end%>
            <% unless alert.nil? %>
            <div style="margin: 20px;">
                <div class="ui warning message" >
                <p id="alert"><%= alert %></p>
                </div>
            </div>
            <%end%>
        <!-- end error notifications -->


    <div class="left-sidebar">
        <header>
            <!-- search fild -->
            <div class="search">
                <%= form_with url: "/search", method: :get do |form| %>
                    <%= form.text_field :query, placeholder: "Search messages.."%>
                    <button type="submit" name="commit" class="btn btn-success">
                        <i class='far fa-search'></i>
                    </button>
                <% end %>
            </div>
            <div class="nav-messages">
                <ul>
                    <li><a class="active" href="#">All</a></li>
                    <li><a href="#">Unread</a></li>
                    <li><a href="#">Deleted</a></li>
                </ul>
            </div>
        </header>

        <div class="messageList">
            <%= render partial: 'conversations/list_messages' %>
        </div>
    </div>

    <div class="message-content">
         <!-- content -->
         <%= yield %>
         <!-- end content -->
    </div>

    <div class="right-sidebar">
        <div class="info">
            <div class="search"></div>
            <nav class="nav"></nav>
        </div>
        <nav>

        </nav>
        <div class="attachments">
            <h3>Attachments</h3>
        </div>
    </div>

  </body>
</html>
